body, html {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

*, *:after, *:before {
	box-sizing: inherit;
}

.wrapper {
	width: 100vw;
	height: 100vh;	
	display: flex;
	flex-direction: column;
	border: 2px gold solid;
	align-items: center;
}

.wrapper > * {
	border: 1px pink solid; /* BORDER FOR BEGINNING*/
}

/*  Logo Component  */

.logo {
	height: 40vh;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80%;
}


/*  Navbar Component  */

.navbar {
	width: 80%;
	height: 50px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

/*  Products Component  */

.products {
	width: 80%;
}

/*  Footer Component  */

.footer {
	bottom: 0px;
	width: 100%;
	min-height: 30px;
	height: 5vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
}

.first-span {
	margin-left: 10px;
}

.second-span {
	margin-right: 10px;
}