body, html {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

*, *:after, *:before {
	box-sizing: inherit;
}

.wrapper, .about-us, .visit-us, .not-found {
	width: 100%;
	height: 100%;	
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Dosis', sans-serif;
}

.wrapper > *, .about-us >*, .visit-us >*, .not-found >* {
	border: 1px pink solid; 
}

/*  Logo Component  */

.logo {
	height: 60vh;
	min-height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80%;
	max-width: 700px;
	flex-direction: column;
	font-size: 45px;
	font-family: 'Kumar One Outline', cursive;
}


/*  Navbar Component  */

.navbar {
	min-height: 50px;
	width: 80%;
	max-width: 700px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.navbar > * {
	padding: 15px;
	cursor: pointer;
}

/*  NotFound Component  */

.not-found .lost {
	width: 80%;
	max-width: 700px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 5%;
}

.not-found .lost img {
	border-radius: 5%;
	max-width: 250px;
	margin: 3%;
}

.not-found .lost p {
	margin: 3%;
	text-align: right;
}

/*  Products Component  */

.products {
	width: 80%;
	max-width: 700px;
	display: flex;
	flex-direction: column;
}

/*  Single Product Component  */

.product {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 4% auto;
}

.product h3 {
	margin-bottom: 0;
	font-family: 'Kumar One Outline', cursive;
	font-size: 1.3rem;
}

.product p {
	text-align: justify;
	margin-left: 3%;
	margin-right: 3%;
}

.product img {
	border-radius: 5%;
}

/*  AboutUs Component  */

.about-us h3 {
	font-family: 'Kumar One Outline', cursive;
}

.info-about-us {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.info-about-us .company {
	padding-top: 3%;
	text-align: center;
}

.about-us .info-about-us img {
	border-radius: 50%;
	max-width: 210px;
}

.info-about-us {
	width: 80%;
	max-width: 700px;
	padding-bottom: 2%;
}

.info-about-us .desc {
	text-align: justify;
	margin-left: 3%;
	margin-right: 3%;
}

/*  VisitUs Component  */

.visit-us .navbar, .visit-us .logo {
	width: 100%;
	max-width: 700px;
}

.visit-us {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 40%;
	width: 80%;
	max-width: 700px;
	margin: auto;
}

/*  VisitUsInfo Component  */

.visit-us-info {
	width: 100%;
	max-width: 700px;
	padding: 5%;
}

.open-hours {
	width: 80%;
	max-width: 450px;
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: repeat(7, 1fr);
	margin: auto;
}

/*  MapContainer Component  */

.map-container {
	width: 100vw;
	max-width: 700px;
	height: 100%;
	min-height: 400px;
}

/*  Footer Component  */

.footer {
	bottom: 0px;
	width: 100%;
	min-height: 30px;
	height: 5vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 10px;
}

.footer .first-span {
	margin-left: 10px;
}

.footer .second-span {
	margin-right: 10px;
}

.footer .second-span a {
	text-decoration: none;
	color: black;
}

/*  Candy Shop company name styles  */

.company-name {
	font-family: 'Kumar One Outline', cursive;
}

/*  Media queries  */

@media screen and (min-width: 600px) {

	/*  Product Component  */

	.product {
		display: grid;
		grid-template-columns: 0.5fr 4fr 0.5fr 4fr 0.5fr;
		grid-template-rows: 1fr 3fr 1fr;
		align-items: center;
		justify-items: center;
		margin: 0;
	}

	.product img {
		grid-column: 2 / 3;
		grid-row: 2 / 3;
	}

	.product h3 {
		grid-column: 4 / 5;
		grid-row: 1 / 2;
		align-self: end;
	}

	.product p {
		grid-column: 4 / 5;
		grid-row: 2 / 3;
	}

	/*  AboutUs Component  */

	.info-about-us {
		display: grid;
		grid-template-rows: 1fr 3fr;
		grid-template-columns: 0.5fr 3fr 0.5fr 3fr 0.5fr;
	}

	.info-about-us .company {
		grid-column: 4 / 5; 
		grid-row: 1 / 2;
	}

	.info-about-us img {
		grid-column: 2 / 3; 
		grid-row: 1 / 3;
	}

	.info-about-us .desc {
		grid-column: 4 / 5; 
		grid-row: 2 / 3;
	}

	/*  NotFound Component  */

	.not-found .lost {
		width: 80%;
		max-width: 700px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}
}


/*  Media Queries  */

@media screen and (max-width: 400px) {
	.logo {
		font-size: 25px;
	}
}

@media screen and (min-width: 401px) and (max-width: 700px) {
	.logo {
		font-size: 35px;
	}
}


/*  Fix to add responsivness to MapContainer component  */

@media screen and (max-width: 400px) {
	.map-container {
		width: 270px;
	}
}

@media screen and (min-width: 401px) and (max-width: 450px) {
	.map-container {
		width: 320px;
	}
}

@media screen and (min-width: 451px) and (max-width: 500px) {
	.map-container {
		width: 360px;
	}
}

@media screen and (min-width: 501px) and (max-width: 550px) {
	.map-container {
		width: 400px;
	}
}

@media screen and (min-width: 551px) and (max-width: 600px) {
	.map-container {
		width: 440px;
	}
}

@media screen and (min-width: 601px) and (max-width: 650px) {
	.map-container {
		width: 480px;
	}
}

@media screen and (min-width: 651px) and (max-width: 700px) {
	.map-container {
		width: 520px;
	}
}

@media screen and (min-width: 701px) and (max-width: 750px) {
	.map-container {
		width: 560px;
	}
}

@media screen and (min-width: 751px) and (max-width: 800px) {
	.map-container {
		width: 600px;
	}
}

@media screen and (min-width: 801px) and (max-width: 850px) {
	.map-container {
		width: 640px;
	}
}