body, html {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

*, *:after, *:before {
	box-sizing: inherit;
}

.wrapper, .about-us {
	width: 100%;
	height: 100%;	
	display: flex;
	flex-direction: column;
	align-items: center;
}

.wrapper > *, .about-us >* {
	border: 1px pink solid; /* BORDER FOR BEGINNING*/
}

/*  Logo Component  */

.logo {
	height: 40vh;
	min-height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80%;
	flex-direction: column;
	font-size: 40px;
}


/*  Navbar Component  */

.navbar {
	min-height: 50px;
	width: 80%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.navbar > * {
	padding: 15px;
}

/*  Products Component  */

.products {
	width: 80%;
}

/*  Single Product Component  */

.product {
	padding: 3%;
}

.product p {
	text-align: justify;
}

/*  CandyBasket Component  */

.candy-basket {

}


/*  AboutUs Component  */

.info-about-us {
	width: 80%;
}

.info-about-us {
	padding: 3%;
}

.info-about-us .desc {
	text-align: justify;
}

/*  Footer Component  */

.footer {
	bottom: 0px;
	width: 100%;
	min-height: 30px;
	height: 5vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 10px;
}

.first-span {
	margin-left: 10px;
}

.second-span {
	margin-right: 10px;
}